<p id="notice"><%= notice %></p>

<p>
  <strong>Family name:</strong>
  <%= @staff.family_name %>
</p>

<p>
  <strong>Given name:</strong>
  <%= @staff.given_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @staff.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @staff.grade %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>Provisional:</strong>
  <%= @staff.provisional %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
